@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	line-height: initial;
	font-size: 0.9rem;
}

* {
	font-family: "Nunito Sans", sans-serif;
}

@layer components {
	.generic-box {
		@apply border rounded-sm p-2
			bg-white-1 dark:bg-black-1
			border-white-3 dark:border-black-3;
	}

	form > input,
	textarea {
		@apply bg-white-4 dark:bg-black-4
		p-1;
	}

	form > input[type="submit"] {
		cursor: pointer;
	}

	.button {
		display: inline-block;
	}

	button,
	.button,
	[type="button"],
	[type="reset"],
	[type="submit"] {
		@apply bg-white-4 dark:bg-black-4
		p-2;
	}

	form > input:focus,
	button:hover,
	.button:hover,
	textarea:focus,
	[type="button"]:hover,
	[type="reset"]:hover,
	[type="submit"]:hover {
		@apply outline-1 outline
		outline-black-5 dark:outline-white-5;
	}

	.post:hover {
		@apply outline-1 outline
		outline-white-5 dark:outline-black-5;
	}

	.image-dark-mode {
		background-image: url("/dark.png");
	}

	.image-light-mode {
		background-image: url("/light.png");
	}

	.info-page p, .info-page br {
		margin-bottom: 0.5rem;
	}
}
